force-app/main/default/flows/Project_Task_Reminder_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_1_Day_Reminder_Email</name>
        <label>Send 1 Day Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Project_Task__c.Task_Due_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>Project_Task__c.Task_Due_Reminder_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_3_Day_Reminder_Email</name>
        <label>Send 3 Day Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Project_Task__c.Task_Due_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>Project_Task__c.Task_Due_Reminder_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Overdue_Email_Notification</name>
        <label>Send Overdue Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Project_Task__c.Task_Overdue_Notification_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>Project_Task__c.Task_Overdue_Notification_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Task_Is_Overdue</name>
        <label>Check If Task Is Overdue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Task Not Yet Overdue</defaultConnectorLabel>
        <rules>
            <name>Task_Is_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Overdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Task_As_Overdue</targetReference>
            </connector>
            <label>Task Is Overdue</label>
        </rules>
    </decisions>
    <description>Sends 3-day and 1-day reminder emails for upcoming tasks and auto-marks overdue tasks. Record-triggered with scheduled paths.</description>
    <environments>Default</environments>
    <interviewLabel>Project Task Reminder Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task Reminder Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Task_As_Overdue</name>
        <label>Mark Task As Overdue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Overdue_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Task_Is_Overdue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_Day_Reminder</name>
            <connector>
                <targetReference>Send_3_Day_Reminder_Email</targetReference>
            </connector>
            <label>3 Day Reminder</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_Reminder</name>
            <connector>
                <targetReference>Send_1_Day_Reminder_Email</targetReference>
            </connector>
            <label>1 Day Reminder</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
